<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{title}}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
<div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
          
            <div class="row" *ngFor='let bookdata of books'>    
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" routerLink="/books"><img alt="please ensure internet" [src]="bookdata.image" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3>{{ bookdata.title }}</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <h4><span class="label label-default">{{ bookdata.author }}</span></h4><h4>
                    <small style="font-family:courier,'new courier';" class="text-muted">{{ bookdata.genre }}  • </small>
                    <small> <a (click)="book(bookdata)" class="text-muted">Read More</a></small>
                    </h4></div>
                  <div class="col-xs-3"></div>
                  <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="editBook(bookdata)"   style="margin-left: 20px; margin-bottom: 5px;"> Edit</button>
                    <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="deleteBook(bookdata)"  style="margin-left: 10px; margin-bottom: 5px;"> Delete</button>
                </div>
                <br><br>
              </div>
            </div>
            <hr>
            <hr>
  
  
            
            
           
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div>
    </div>
  </div>
                                                                       
  <hr>